* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f5f8;
}

nav {
    background-color: rgb(76, 76, 139);
    color:white;
    padding: 12px 0;
}

.nav-center {
    display:flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.color-container {
    text-align: center;
}

.color-container h2,
.color-container button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

.container {
    text-align: center;
    margin-top: 200px;
}


h2 {
    color: rgb(204, 204, 204);
    background-color: black;
    padding: 10px;
    border-radius: 18px;
    font-size: 36px;
    margin-bottom: 30px;
    width: 800px;
}

.color {
    color: rgb(202, 152, 152);
    padding: 0 5px;
    
}

.btn {
    background-color:rgb(39, 131, 207);
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(23, 53, 134);
}
